@font-face {
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 400;
    src: url(../font/AkzidenzGroteskPro-Regular.woff2) format('woff2');
}

@media (min-width:316px) {

    .link,
    #about,
    #contact,
    .screening p {
        font-size: 30px;
        -webkit-text-stroke-width: 1px;
    }

    .screening h1 {
        font-size: 60px;
        -webkit-text-stroke-width: 2px;
    }

    .scr-num {
        -webkit-text-stroke-width: 2px;
    }

    .film h1 {
        font-size: 18px;
    }

    .film p {
        font-size: 10px;
    }

}

@media (min-width:550px) {

    .link,
    #about,
    #contact,
    .screening p {
        font-size: 45px;
        -webkit-text-stroke-width: 2px;
    }

    .screening h1 {
        font-size: 90px;
        -webkit-text-stroke-width: 3px;
    }

    .scr-num {
        -webkit-text-stroke-width: 3px;
    }

    .film h1 {
        font-size: 21px;
    }

    .film p {
        font-size: 13px;
    }
}

@media (min-width:1024px) {

    .link,
    #about,
    #contact,
    .screening p {
        font-size: 60px;
        -webkit-text-stroke-width: 2px;
    }

    .screening h1 {
        font-size: 120px;
        -webkit-text-stroke-width: 4px;
    }

    .scr-num {
        -webkit-text-stroke-width: 4px;
    }

    .film h1 {
        font-size: 24px;
    }

    .film p {
        font-size: 16px;
    }
}

::selection {
    color: #ffffff;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    background: none;
}

body {
    background: #EBEBEB;

    width: 100vw;
    height: 100dvh;

    display: flex;
    align-items: stretch;

    /* overscroll-behavior: none; */
}

a {
    text-decoration: none;
    color: transparent;
}

.link {
    position: fixed;
    bottom: 12px;
    right: 12px;

    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 400;

    -webkit-text-stroke-color: #FF0054;

    line-height: 90%;

    z-index: 1;
}

.link:hover {
    color: #FF0054;
    -webkit-text-stroke-color: transparent;
}

/* Screening lists */

.screenings-lists {
    display: flex;
    width: calc(50vw - 12px);
    padding: 12px 12px 24px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    height: fit-content;
}

.screening {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: stretch;
    color: transparent;

    -webkit-text-stroke-color: #FF0054;
    filter: invert(1);
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 400;
    mix-blend-mode: difference;

    overflow-wrap: break-word;
}

.hover:hover {
    color: #FF0054;
    -webkit-text-stroke-color: transparent;
}

.screening h1 {
    line-height: 80%;
}

.screening p {
    line-height: 90%;
}

.scr-num-cont {
    position: fixed;
    display: flex;

    width: 58dvh;
    height: 20dvh;

    top: calc(50dvh - 11dvh);
    left: calc(50vw - 29dvh);
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    z-index: -1;
}

.scr-num {
    font-size: 20dvh;
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 400;
    -webkit-text-stroke-color: #FF0054;
}

/* Films lists */

.films-lists {
    position: fixed;
    left: 50vw;

    mix-blend-mode: difference;
}

.film-set {
    display: flex;
    width: 50vw;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;

    transition: 0.3s ease-in-out;
}

.film {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;

    color: rgb(255, 255, 255);

    font-family: "Martian Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 87.5;
}

.film p {
    line-height: 120%;
}

#film-nachalo,
#film-nature,
#film-time,
#film-human,
#film-light,
#film-city,
#film-sound {
    display: none;
}

/* Fugue logo */

.f-logo-p {
    position: fixed;

    border-radius: 50%;
    background: #000;

    z-index: -1;
}

.f-logo-p:nth-of-type(1) {
    width: 30dvh;
    height: 30dvh;

    top: calc(50dvh - 30dvh);
    left: calc(50vw - 15dvh);
}

.f-logo-p:nth-of-type(2) {
    width: 30dvh;
    height: 30dvh;

    top: 50dvh;
    left: calc(50vw - 15dvh);
}

.f-logo-p:nth-of-type(3) {
    width: 30dvh;
    height: 30dvh;

    top: calc(50dvh - 15dvh);
    left: 50vw;
}

.f-logo-p:nth-of-type(4) {
    width: 30dvh;
    height: 30dvh;
    top: calc(50dvh - 15dvh);
    left: calc(50vw - 30dvh);
}

/* About page */

#about,
#contact {
    width: 50vw;
    padding: 12px;

    line-height: 90%;
}

#about {
    mix-blend-mode: difference;
    overflow-wrap: break-word;
}

#contact {
    font-family: "Akzidenz-Grotesk Pro";
    font-style: normal;
    font-weight: 400;

    -webkit-text-stroke-color: #FF0054;

    filter: invert(1);
    mix-blend-mode: difference;
    overflow-wrap: break-word;
}